<div
  class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
  cdkScrollable>

  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          New Stream
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-wrap justify-center p-6 sm:p-10">
    <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden"
          [formGroup]="streamForm"
          #streamNgForm="ngForm">
      <p class="text-lg font-medium mb-4">Basic information</p>
      <div class="flex">
        <mat-form-field class="flex-auto">
          <input matInput
                 [placeholder]="'The name of your stream, e.g. Camera 1'"
                 [formControlName]="'name'">
          <mat-error>
            Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <p class="text-lg font-medium">Encoder</p>
      <p class="text-secondary mb-4">
        This is a program that takes an image captured by a camera, converts it into the video stream, and then sends it
        to the Streaming Platform.
      </p>

      <div class="flex flex-col gt-xs:flex-row test">
        <mat-form-field class="flex-auto gt-xs:pl-3">
          <mat-select [placeholder]="'Program'" value="obs">
            <mat-option value="obs">OBS</mat-option>
          </mat-select>
          <mat-icon
            class="icon-size-5"
            matPrefix
            [svgIcon]="'mat_outline:videocam'"></mat-icon>
        </mat-form-field>

        <mat-radio-group
          class="flex flex-row"
          [color]="'primary'"
          [value]="'rtmp'"
        >
          <mat-radio-button class="mb-2" [value]="'rtmp'">
            RTMP
          </mat-radio-button>
          <mat-radio-button class="mb-2" [value]="'srt'">
            SRT
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
        <button mat-button [routerLink]="['./..']">
          Cancel
        </button>
        <button
          class="px-6 ml-3"
          mat-flat-button
          [color]="'primary'"
          [disabled]="streamForm.disabled"
          (click)="create()">
          <span *ngIf="!streamForm.disabled">Create</span>
          <mat-progress-spinner
            *ngIf="streamForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'"></mat-progress-spinner>
        </button>
      </div>


    </form>
  </div>

</div>